button {
  background: #2ec4b6;
  color: #fff; }

@media only screen and (max-width: 600px) {
  .px-5 {
    padding-right: 1rem !important;
    padding-left: 1rem !important; } }

nav {
  background: transparent;
  transition: background 0.3s; }

.scrolled {
  background: #011627; }

#landing-section {
  background-image: url(/images/golfgti.jpg);
  background-size: cover; }

#find-section {
  background-image: url(/images/blueBMW2.jpg);
  background-size: cover;
  background-attachment: fixed; }

#insurance-section {
  background-image: url(/images/driving2.jpg);
  background-size: cover;
  background-attachment: fixed; }
  #insurance-section span {
    color: #f71735; }

#installment-section {
  background-image: url(/images/contract2.jpg);
  background-size: cover;
  background-attachment: fixed; }
  #installment-section span {
    color: #2ec4b6; }

#testimonial-cards .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #testimonial-cards .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01); }
  @media only screen and (min-width: 992px) {
    #testimonial-cards .card {
      width: 60%; } }

#footer {
  background: #011627; }
  #footer a {
    color: #f6f7f8; }
