body {
  background: #efefef; }

h1 {
  color: #011627; }

button {
  background: #2ec4b6;
  color: #fff; }

@media (min-width: 1400px) {
  .container {
    max-width: 1340px; } }

@media (min-width: 1600px) {
  .container {
    max-width: 1540px; } }

nav {
  background: transparent;
  transition: all 0.3s; }

.scrolled {
  background: #011627; }

.nav-big {
  font-size: 1.3em; }
  .nav-big a {
    font-size: inherit; }

@media (max-width: 992px) {
  #navbar-content.h-0 {
    max-height: 0px; } }

#navbar-content {
  transition: max-height 0.2s;
  max-height: 300px;
  overflow: hidden; }

.navbar-toggler:active {
  transform: scale(0.97); }

#landing-section {
  background-image: url(../images/golfgti.jpg);
  background-size: cover; }

#find-section {
  background-image: url(../images/blueBMW2.jpg);
  background-size: cover;
  background-attachment: fixed; }

#find-box {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  @media (min-width: 992px) {
    #find-box {
      width: 55% !important; } }

#featured-section {
  position: relative; }
  #featured-section .display-4 {
    color: #f6f7f8; }

#featured-bg {
  height: 45%;
  width: 100%;
  background: #011627;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transform: skew(0deg, 6deg) translateY(-160px); }

.card-text p {
  display: inline-block; }

.price {
  color: #f71735;
  font-weight: 600; }

#insurance-section {
  background-image: url(../images/driving2.jpg);
  background-size: cover;
  background-attachment: fixed; }
  #insurance-section span {
    color: #f71735; }

#installment-section {
  background-image: url(../images/contract2.jpg);
  background-size: cover;
  background-attachment: fixed; }
  #installment-section span {
    color: #2ec4b6; }

#testimonial-cards .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  #testimonial-cards .card:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transform: scale(1.01); }

#footer {
  background: #011627; }
  #footer a {
    color: #f6f7f8;
    opacity: 0.5; }

#footer-bottom {
  background: #010a12; }
  #footer-bottom p {
    opacity: 0.5; }
